html, body {height: 100%}
body {
	font-family: source-sans-pro, sans-serif;
    background-image: url("./backgrounds/puff.jpg");

}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#input-terms {
    color: #FFF;
    opacity: 1.0;
    
    font-size: 36;
    font-style: italic;

    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 101;
}

#input-terms input {
    opacity: 0.6;
    font-size: 24;
    width: 100%;
}

#loadingscreen {
    background: #EEE;
    background-image: url("./backgrounds/puff.jpg");
    position: absolute;
    min-height: 100%;
    overflow-y: hidden;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}

#loadingscreen p {
    display: none;
    color: #FFF;
    opacity: 0.5;
    
    font-size: 36;
	font-style: italic;

    position: absolute;
    top: 30%;
    left: 30%;
}

#loadingscreen span {
    

    padding-left:20px;
}

#fixedbg{
    font-size: 48;
    color: #FFF;
    opacity: 1.0;
    /*z-index: 100;*/

}

#fixedbg .base {
	font-family: source-sans-pro, sans-serif;
	font-style: italic;
	font-size: 24px;
}

#fixedbg .big{
	/*font-family: passion-one, sans-serif;*/
	font-family: source-sans-pro, sans-serif;
    font-style: bold;
	font-size: 48px;
}

#fixedbg .slide{
	font-family: source-sans-pro, sans-serif;
	font-style: semibold;
	font-size: 30px;
    
}

#fixedbg #ampm {
    font-style: normal;
}

